body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #540D6E;
    margin-bottom: 30px;
}

.options {
    display: flex;
    justify-content: center;
}

.login-option {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #009688;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.login-option:hover {
    background-color: #00796b;
}
