<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='creator.css') }}">
    <script src="{{ url_for('static', filename='creator.js') }}"></script>
    <title>Sign Up Page</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form action="/creator" method="POST">
                <input type="hidden" name="action" value="signup">

                <h1>Sign Up As a Creator</h1>
                <span>or use your email for registration</span>
                <input type="text" name = "name" placeholder="Name">
                <input type="email" name = "email" placeholder="Email">
                <input type="password" name = "password" placeholder="Password">
                <input type="text" name = "category" placeholder="content-category">
                <input type="text" name = "social_handle" placeholder="Social Media Handle">
                <button>Sign Up as Creator</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form action="/creator" method="POST">
                <input type="hidden" name="action" value="login">

                <h1>Login As a Creator</h1>

                <span>or use your email and password</span>
                <input type="email" name = "email" placeholder="Email">
                <input type="password" name = "password" placeholder="Password">
                <a href="#">Forgot Your Password?</a>
                <button>Login as a Creator</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Hey, ready to unlock new opportunities?</h1>
                    <p>Enter your personal details to use all site features</p>
                    <button class="hidden" id="login">Log In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Welcome back, partner in crime!</h1>
                    <p>Enter your personal details to use all site features</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script src="creator.js"></script>
</body>

</html>
