<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrandMate</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{{ url_for('static', filename='b-removebg-preview.png') }}" alt="Logo" width="80" height="60" class="d-inline-block align-text-mid">
                    Brand<span class="mate">Mate</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link mx-3" href="#hero-section">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-3" href="#why-brandmate-section">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-3" href="#faq-section">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-3" href="#">Blog</a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link mx-3" href="/campaigns">Campaigns</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                
                <div class="ml-auto">
                    {% if logged_in %}
    {% if user_type == 'creator' or user_type == 'brand' %}
        <a href="/dashboard" class="btn btn-primary">Dashboard</a>
    {% endif %}
    {% else %}
    {% if current_user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="/campaigns">Campaigns</a>
    </li>
{% endif %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="true">
                        <i class="fas fa-user"></i> 
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="/creator">Creator</a></li>
                        <li><a class="dropdown-item" href="/brand">Brand</a></li>
                    </ul>
            </div>
            {% endif %}
        </div>
        </nav>
    </header>
    
    
    <section id="hero-section" class="hero-section">
        <div class="hero-text">
            <h1>Connecting Brands, Empowering Creators.</h1>
            <ul class="hero-bullets">
                <li>Streamlined influencer selection process.</li>
                <li>Seamless communication between brands and influencers.</li>
                <li>Advanced analytics for effective marketing strategies.</li>
            </ul>
            <div class="hero-buttons">
                <button type="button" class="btn btn-light btn-lg join-creator-btn"><a href="/creator">  For Creators</a></button>
                <button type="button" class="btn btn-light btn-lg join-brand-btn"><a href="/brand">For Brands</a></button>
            </div>
        </div>
        
        <div class="hero-image">
            <img src="{{ url_for('static', filename='cropped-cropped-Untitled-design-20-copy-removebg-preview.png') }}" alt="Hero Image">
        </div>
    </section>
    <section id="brands-section" class="brands-section">
        <h2>Featured Brands</h2>
        <div class="brand-list">
            <div class="brand">
                <img src="{{ url_for('static', filename='mamaearth.jpg') }}" alt="Mamaearth">
                <p>Mamaearth</p>
            </div>
            <div class="brand">
                <img src="{{ url_for('static', filename='myglamm.jpg') }}" alt="MyGlamm">
                <p>MyGlamm</p>
            </div>
            <div class="brand">
                <img src="{{ url_for('static', filename='daniel wellington.jpg') }}" alt="Daniel Wellington">
                <p>Daniel Wellington</p>
            </div>
            <div class="brand">
                <img src="{{ url_for('static', filename='croma.png') }}" alt="Croma">
                <p>Croma</p>
            </div>
            <div class="brand">
                <img src="{{ url_for('static', filename='nykaa.svg') }}" alt="Nykaa">
                <p>Nykaa</p>
            </div>
            <!-- New Indian Brands -->
            <div class="brand">
                <img src="{{ url_for('static', filename='maybeliine.jpg') }}" alt="Mayebelline">
                <p>Mayebelline</p>
            </div>
            <div class="brand">
                <img src="{{ url_for('static', filename='aqualogica.webp') }}" alt="aqualogica">
                <p>aqualogica</p>
            </div>
            <div class="brand">s
                <img src="{{ url_for('static', filename='flipkart_logo_9.jpg') }}" alt="Flipkart">
                <p>Flipkart</p>
            </div>
            <div class="brand">
                <img src="{{ url_for('static', filename='myntra.jpg') }}" alt="Myntra">
                <p>Myntra</p>
            </div>
        </div>
    

        <section class="bloggers-section">
            <h2>Featured influencers</h2>
            <div class="blogger-list">
                <div class="blogger">
                    <img src="{{ url_for('static', filename='bohogirl.png') }}" alt="Fashion Influncer">
                    <p>Fashion Influencer</p>
                </div>
                <div class="blogger">
                    <img src="{{ url_for('static', filename='zingyzest.png') }}" alt="Food Influencer">
                    <p>Food Influencer</p>
                </div>
                <div class="blogger">
                    <img src="{{ url_for('static', filename='anunay.png') }}" alt="Travel Influencer">
                    <p>Travel Influencer</p>
                </div>
                <div class="blogger">
                    <img src="{{ url_for('static', filename='aashna.png') }}" alt="Beauty Influencer">
                    <p>Beauty Influencer</p>
                </div>
                <div class="blogger">
                    <img src="{{ url_for('static', filename='fitness.png') }}" alt="Fitness Influencer">
                    <p>Fitness Influencer</p>
                </div>
                <div class="blogger">
                    <img src="{{ url_for('static', filename='tech.png') }}" alt="Tech Influencer">
                    <p>Tech Influencer</p>
                </div>
            </div>
        </section>
        


        <section id="why-brandmate-section" class="why-brandmate-section">
            <h2>Why Brands Love BrandMate</h2>
        <pre style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">We help you find the right influencers for your brand by giving you the tools and insights you
need to make data-driven decisions.</pre>
<br>

            <div class="benefits-container">
                <div class="benefit">
                    <img src="{{ url_for('static', filename='datadriven.webp') }}" alt="Benefit 1">
                    <div class="description">
                        <h5>Data-driven predictions</h5>
                        <pre style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Use our data to predict how well an
influencer's audience matches your target
market.</pre>
                    </div>
                </div>
                <div class="benefit">
                    <img src="{{ url_for('static', filename='filter.webp') }}" alt="Benefit 2">
                    <div class="description">
                        <h5>Powerful search filters</h5>
                        <pre style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Search for influencers by location, gender,
interests, and more.</pre>
                    </div>
                </div>
                <div class="benefit">
                    <img src="{{ url_for('static', filename='audience.webp') }}" alt="Benefit 3">
                    <div class="description">
                        <h5>Audience insights</h5>
                        <pre style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Understand an influencer's audience to make
better partnership decisions.</pre>
                    </div>
                </div>
            </div>
        </section>
        
    </section>
    <section id="team-section" class="team-section">
        <h2>Our Team</h2>
        <div class="team-members">
            <div class="team-member">
                <img src="{{ url_for('static', filename='35e58949-5a05-4b69-88a7-4f69f5adadea.jpeg') }}" alt="Team Member 1">
                <h3>Riyansh Garg</h3>
                <p>Position: Co-Founder</p>
                <p>Description: BTECH CSE BENNETT UNIVERSITY.</p>
            </div>
            <div class="team-member">
                <img src="{{ url_for('static', filename='6126e45d-5725-424a-a658-b2f0c094ce3c.jpeg') }}" alt="Team Member 2">
                <h3>Khushi Gusain</h3>
                <p>Position:Co Founder</p>
                <p>Description: BTECH CSE BENNETT UNIVERSITY.</p>
            </div>
        </div>
    </section>
    
    <section id="faq-section" class="faq-section">
        <div class="faq-container">
            <h2>Frequently Asked Questions</h2>
            <br>
            <br>

            <div class="faq-item">
                <h3>Question 1: What is BrandMate?</h3>
                <p>Answer: BrandMate is a platform that facilitates collaboration between brands and influencers, offering streamlined influencer selection, seamless communication, and advanced analytics for effective marketing strategies.</p>
            </div>
            <div class="faq-item">
                <h3>Question 2: How do I join as a Creator?</h3>
                <p>Answer: To join as a Creator, simply click on the "Join as a Creator" button and follow the registration process. Once registered, you can start exploring collaboration opportunities with brands.</p>
            </div>
            <div class="faq-item">
                <h3>Question 3: Can I join as both a Brand and a Creator?</h3>
                <p>Answer: Yes, you can join as both a Brand and a Creator. BrandMate offers flexible membership options that allow you to switch between roles based on your requirements.</p>
            </div>
            <div class="faq-item">
                <h3>Question 4: Is BrandMate free to use?</h3>
                <p>Answer: BrandMate offers both free and premium membership options. While basic features are available for free, premium membership unlocks additional features and benefits for enhanced collaboration.</p>
            </div>
            <div class="faq-item">
                <h3>Question 5: How can I contact BrandMate support?</h3>
                <p>Answer: You can contact BrandMate support through our website's contact form or by emailing support@brandmate.com. Our support team is available to assist you with any inquiries or issues.</p>
            </div>
        </div>
        <script src="{{ url_for('static', filename='faq.js') }}"></script>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.getElementById("loginSelect").addEventListener("change", function() {
            var selectedOption = this.options[this.selectedIndex];
            if (selectedOption.value) {
                window.location.href = selectedOption.value;
            }
        });

        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();

                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    </script>
    
    <footer class="footer-section">
        <div class="footer-container">
            <div class="footer-column">
                <h3 id="our mission">Our Mission</h3>
                <p>Empowering brands and influencers to create impactful collaborations.</p>
            </div>
            <div class="footer-column">
                <h3>Join Our Community</h3>
                <p>Explore exciting opportunities to join our team or collaborate with us.</p>
            </div>
            <div class="footer-column">
                <h3>Helpful Resources</h3>
                <ul>
                    <li><a href="#">BrandMate Blog</a></li>
                    <li><a href="#">Services Overview</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Partner Companies</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
